<h1>Listing books</h1>

<div id="books">
  <form id="addBook" action="/books" data-remote="true" data-type="json" enctype="multipart/form-data" method="post">
    <div>
      <label for="coverImage">CoverImage: </label><input id="coverImage" name="book[cover_image]" type="file" />
      <label for="title">Title: </label><input id="title" name="book[title]" type="text" />
      <label for="author">Author: </label><input id="author" name="book[author]" type="text" />
      <label for="releaseDate">Release date: </label><input id="releaseDate" name="book[released_on]" type="text" />
      <label for="keywords">Keywords: </label><input id="keywords" type="text" />
    </div>
    <button id="add">Add</button>
  </form>
</div>
<% content_for :dynamic_javascripts do %>
  <%= javascript_include_tag "templates/book" %>
  <%= javascript_include_tag "models/book" %>
  <%= javascript_include_tag "collections/library" %>
  <%= javascript_include_tag "views/book" %>
  <%= javascript_include_tag "views/library" %>
  <%= javascript_include_tag "app" %>
<% end %>
